@{
    ViewData["Title"] = "About Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Health Foundation</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/hero.css">
    <link rel="stylesheet" href="~/css/about.css">

    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/style-copy.css">


    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /* Image Sliding */

    </style>
</head>

<body>
    <section id="hero-main">
        <div class="main-content">
            <div class="wrap">
                <div id="preloader"></div>
                <div class="slider">
                    <div class="overlay">
                    </div>
                </div>
    </section>
    <div class="hero-txt">
        <h1>About Us</h1>
    </div>

    <!-- about section -->

    <section class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                THE <span class="green">HEALTH</span> <span class="re">FOUNDATION</span>
                            </h2>
                        </div>
                        <p class="about-text-read">

                            <h4>
                                <span class="green">
                                    Our mission is to mobilise resources that enhance services in the public health system through collaboration
                                    with public and private stakeholders.
                                </span>
                            </h4>

                            About 80% of the population in South Africa remain uninsured and rely on the public sector for that most
                            basic need – access to health care. The South African Department of Health has made great strides in
                            providing health services. However, funding constraints, a growing population and an increasing burden of
                            disease limit the capacity of the service delivered. The Health Foundation was initiated to find alternative
                            models that will accelerate change within healthcare by responsibly channelling funds to priority projects.
                            <br>
                            <a href="">
                                Read More
                            </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">

                        <img src="~/images/logo-1.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->

    <section class="help_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2 style:color="white">
                                Registration <br>
                            </h2>
                        </div>
                        <p>
                            The Health Foundation of South Africa NPC was incorporated on 27 October 2011 as a Non-Profit Company, registration number 2011/128044/08.
                            <br>
                            <br>
                            We are approved by SARS as a Public Benefit Organisation (No. 930046175) and we are qualified to issue Section 18(A) certificates, thus providing tax exemption benefits for us and our donors.
                            <br>
                            <br>
                            We are also a VAT registered organisation (No. 4550274486) as approved by SARS.
                            <br>
                            <br>
                            We are a registered Level 1 BBBEE contributor.
                        </p>
                        <a href="/css/afs.pdf" download>
                            See Our Latest Financial Audit Statements
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="~/images/mother.jpg" alt="" />

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- we do section -->
    <!-- we do section -->

    <section class="wedo_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Our <span class="green">Pillars</span>
                </h2>
                <p>
                    These are our four pillars here at the Health Foundation
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="box pr-0 pr-lg-5">

                        <div class="detail-box">
                            <h5>
                                Strategy Support
                            </h5>
                            <p>
                                We support teams to develop and implement smart, evidence based strategies to optimize the sustainability and impact of interventions.
                                We align with the Department of Health.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="box pr-0 pr-lg-5">

                        <div class="detail-box">
                            <h5>
                                Resource Mobilisation
                            </h5>
                            <p>
                                We match selected priority needs in the health system with the interests and offerings
                                propspective partners, then mobilise resources via corperate philanthropic, commerical revenue.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="box pr-0 pr-lg-5">

                        <div class="detail-box">
                            <h5>
                                Accountable Stewardship
                            </h5>
                            <p>
                                We responsibly steward directly into priority projects. Donations are accounted for though
                                financial transparent management and reporting.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="box pr-0 pr-lg-5">

                        <div class="detail-box">
                            <h5>
                                Celebrating Health Philanthropy & Partnerships
                            </h5>
                            <p>
                                We aim to promote the culture of giving to the health sector. We recognize contributors big
                                and small for their investment in life, our society and economy.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end we do section -->

    <footer>
        <div class="container">
            <div class="fot aboutus">
                <h2> About Us </h2>
                <p> The Health Foundation is an independent Non-Profit Company and Public Benefit Organisation. </p>

                <ul class="sci">
                    <li><a href="https://www.facebook.com/theHealthFdnSA/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/theHealthFdnSA"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/the-health-foundation"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>

            <div class="fot quickLinks">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="/Home/Index">Home</a></li>
                    <li><a href="/Home/About">About Us</a></li>
                    <li><a href="/Home/Archives">Archives</a></li>
                    <li><a href="/Home/News">News</a></li>
                    <li><a href="/Home/Projects">Projects</a></li>
                    <li><a href="/Home/Support">Support</a></li>
                </ul>
            </div>

            <div class="fot contact">
                <h2>Contact Info</h2>
                <ul class="info">
                    <li>
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>
                            <a href="https://www.bing.com/ck/a?!&&p=e3c891a0135c5b94JmltdHM9MTY5NzkzMjgwMCZpZ3VpZD0yZWFkOGFjMS0wZWY5LTYyY2YtM2Y2MC05ODIwMGZmOTYzZmUmaW5zaWQ9NTU1NA&ptn=3&ver=2&hsh=3&fclid=2ead8ac1-0ef9-62cf-3f60-98200ff963fe&u=a1L21hcHM_Jm1lcGk9MTI3fn5Vbmtub3dufkFkZHJlc3NfTGluayZ0eT0xOCZxPVRoZSUyMFdlc3Rlcm4lMjBDYXBlJTIwSGVhbHRoJTIwRm91bmRhdGlvbiZzcz15cGlkLllOODIwMngxMDA1MDUwNTQyMDE3MjkxNzY0OSZwcG9pcz0tMzMuODkyOTQ4MTUwNjM0NzY2XzE4LjUwNzQ3MTA4NDU5NDcyN19UaGUlMjBXZXN0ZXJuJTIwQ2FwZSUyMEhlYWx0aCUyMEZvdW5kYXRpb25fWU44MjAyeDEwMDUwNTA1NDIwMTcyOTE3NjQ5fiZjcD0tMzMuODkyOTQ4fjE4LjUwNzQ3MSZ2PTImc1Y9MQ&ntb=1">
                                F01, Rostra Building,
                                <br> The Forum Complex,<br> North Bank Lane,
                                <br> Century City, 7441,
                                <br> Cape Town
                            </a>
                        </span>
                    </li>
                    <li>
                        <span><i class="fa fa-phone"></i></span>
                        <p>Tel: +27 (0) 21 418 1580</p>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope"></i></span>
                        <p><a href="mailto:info@thehealthfoundation.org.za">info@thehealthfoundation.org.za</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <script class="loading">

        var loader = document.getElementById("preloader");

        window.addEventListener("load", function () {
            loader.style.display = "none";
        })

    </script>

    <script type="text/javascript">
        window.addEventListener('scroll', reveal);

        function reveal() {
            var reveals = document.querySelectorAll('.reveal');

            for (var i = 0; i < reveals.length; i++) {

                var windowheight = window.innerHeight;
                var revealtop = reveals[i].getBoundingClientRect().top;
                var revealpoint = 150;

                if (revealtop < windowheight - revealpoint) {
                    reveals[i].classList.add('active');
                }
                else {
                    reveals[i].classList.remove('active');
                }
            }
        }

    </script>

    <script defer src="~/js/app.js"></script>
</body>
</html>