@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        #hero-main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Adjust the height to your preference */
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero_backgrounds/about1.jpg');
            background-size: cover;
        }

        .hero-content {
            text-align: center;
            color: #fff; /* Adjust the text color to your preference */
            max-width: 600px; /* Adjust the maximum width to your preference */
            padding: 20px;
        }

        h1 {
            font-size: 36px; /* Adjust the font size to your preference */
        }

        p {
            font-size: 18px; /* Adjust the font size to your preference */
            margin-bottom: 20px;
        }

        .cta-btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: green; /* Adjust the button background color to your preference */
            color: #fff; /* Adjust the button text color to your preference */
            text-decoration: none;
            border-radius: 5px;
            font-size: 18px; /* Adjust the font size to your preference */
            transition: background-color 0.3s;
        }

            .cta-btn:hover {
                background-color: #06CE00;
                color: #fff; /* Adjust the button hover background color to your preference */
            }
    </style>
</head>
<section id="hero-main">
    <div class="hero-content">
        <h1>The Health Foundation<span></span><br><span class="Foundation"></span></h1>
        <p>We are a non-profit organization committed to improving the health and well-being of people in need</p>
        <a href="/Home/About" class="cta-btn">More Info <i class="fa fa-long-arrow-right" aria-hidden="true" style="font-size: 20px;"></i></a>
    </div>
</section>

        
<section class="who_we_are">
    <div class="wrap reveal">
        <img class="about-logo" src="~/images/logo-1.png" alt="The Health Foundation logo" width="300" height="300">
    </div>
    <div class="text reveal">
        <h2>Who are we</h2><br>
        <p>We are an independent Non-Profit Company and Public Benefit Organisation. We offer a unique platform for partnerships between public, private and civil sectors to boost resources and enhance services in the public health sector, in order to improve the quality and access of healthcare in South Africa and beyond.</p>
        <div class="donatexcontact_links">
            <a href="#" class="cta-btn">Donate</a>
            <a href="#" class="cta-btn red">Contact Us</a>
        </div>
    </div>
</section>

<section class="sponsers">
    <div class="sponser_txt reveal">
        <h2>Our Partners</h2>
        <p>These are the company sponsers</p>
    </div>
    <div class="sponser_list reveal">
        <ul>
            <li><img src="~/images/sponsers/World-Health-Organization-Logo.jpg" alt="sponser1" width="200" height="120" /></li>
            <li><img src="~/images/sponsers/discovery_foundation_logo.jpg" alt="sponser1" width="220" height="140px" /></li>
            <li><img src="~/images/sponsers/hello_doctor_logo.jpg" alt="sponser1" width="150px" height="150px" /></li>
            <li><img src="~/images/sponsers/african_mobiliyty_solutions_logo.jpg" alt="sponser1" width="150px" height="150px" /></li>
            <li><img src="~/images/sponsers/adidas_logo.png" alt="sponser1" width="200px" height="130px" /></li>
        </ul>
    </div>
</section>
<section class="content3">
    <div class="wrapper reveal">
        <div class="wrap">
            <img class="img" src="~/images/content_bgs/2.jpg" alt="The Health Foundation logo" width="750" height="540">
        </div>
        <div class="content3-text">
            <h2>At The Health Foundation</h2><br>
            <p>
                We believe that good health and overall wellness is the foundation to a strong country and a democracy. We believe that health is key to being a strong citizen who is able to contribute responsibility to community life. We believe that everybody must have access to quality health care services, both at hospitals and at community clinics.<br><br>
                We offer a credible, accountable channel to make a direct difference in the health and wellness of citizens, through innovative, people-centred, results-focused initiatives. The projects we support may include contributions to health and healthcare infrastructure, human capacity development, programmes, services and systems. The Foundation is committed to accountable stewardship, good governance and transparent reporting.
            </p>
        </div>

    </div>


</section>
<section class="our_pillars">
    <div class="sponser_txt reveal">
        <h2>Our Pillars</h2>
    </div>
    <div class="sponser_list reveal">
        <ul>
            <li>
                <h3>1. Strategy Support</h3><br>
                <p>We support teams to develop and implement smart, evidence based strategies to optimise the sustainability and impact of interventions. Wee align with the department of Health's strategic priorites, deliver consultation services, collaborate with academic and corporate knolwedge partners and other health organistions</p>
            </li>
            <li>
                <h3>2. Resource Mobilisation</h3><br>
                <p>We match priority needs in the health system with teh interests and offerings of prospective partners, then mobilize resources via corporate and philanthropic fundraising, commercial revenuie generation, and mutually beneficial partnerships</p>
            </li>
            <li>
                <h3>3. Accountable Stewardship</h3><br>
                <p>WE responsibly steward funds directly into priority projects. Donations are accounted for through transparent financial management and reporting. Monitoring and evaluation of project implementation and results informs quality inprovement and reporting.</p>
            </li>
            <li>
                <h3>4. Celebrating Health Philanthropy & Partnerships</h3><br>
                <p>We aim to promote a culture of giving to the health sector. We recognise contributors big and small for theri investment in life, our society and economy</p>
            </li>
        </ul>
    </div>
</section>
<section class="content5">
    <div class="wrapper">
        <div class="download">
            <h2>INTRODUCING OUR</h2>
            <h1>First Mobile App Launch!!!</h1><BR>
            <p>
                We are now on mobile! Our app caters for volunteers who want to record and screen learners as per the Mobile Health Clinic Project.
                If you want to help the Health Foundations Projects, change the world today with the tap of a button. <br><br>Get the app on google play
            </p>
        </div>
        <div class="app_prototype">
            <img class="img" src="~/images/app.jpg" style="border-radius:50px;   box-shadow: 12px 24px 15px 4px rgba(0, 0, 0, 0.1);" alt="app prototype" width="350px" height="700px" />
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="fot aboutus">
            <h2> About Us </h2>
            <p> The Health Foundation is an independent Non-Profit Company and Public Benefit Organisation. </p>

            <ul class="sci">
                <li><a href="https://www.facebook.com/theHealthFdnSA/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/theHealthFdnSA"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/the-health-foundation"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>

        <div class="fot quickLinks">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="/Home/Index">Home</a></li>
                <li><a href="/Home/About">About Us</a></li>
                <li><a href="/Home/Archives">Archives</a></li>
                <li><a href="/Home/News">News</a></li>
                <li><a href="/Home/Projects">Projects</a></li>
                <li><a href="/Home/Support">Support</a></li>
            </ul>
        </div>

        <div class="fot contact">
            <h2>Contact Info</h2>
            <ul class="info">
                <li>
                    <span><i class="fa fa-map-marker"></i></span>
                    <span>
                        <a href="https://www.bing.com/ck/a?!&&p=e3c891a0135c5b94JmltdHM9MTY5NzkzMjgwMCZpZ3VpZD0yZWFkOGFjMS0wZWY5LTYyY2YtM2Y2MC05ODIwMGZmOTYzZmUmaW5zaWQ9NTU1NA&ptn=3&ver=2&hsh=3&fclid=2ead8ac1-0ef9-62cf-3f60-98200ff963fe&u=a1L21hcHM_Jm1lcGk9MTI3fn5Vbmtub3dufkFkZHJlc3NfTGluayZ0eT0xOCZxPVRoZSUyMFdlc3Rlcm4lMjBDYXBlJTIwSGVhbHRoJTIwRm91bmRhdGlvbiZzcz15cGlkLllOODIwMngxMDA1MDUwNTQyMDE3MjkxNzY0OSZwcG9pcz0tMzMuODkyOTQ4MTUwNjM0NzY2XzE4LjUwNzQ3MTA4NDU5NDcyN19UaGUlMjBXZXN0ZXJuJTIwQ2FwZSUyMEhlYWx0aCUyMEZvdW5kYXRpb25fWU44MjAyeDEwMDUwNTA1NDIwMTcyOTE3NjQ5fiZjcD0tMzMuODkyOTQ4fjE4LjUwNzQ3MSZ2PTImc1Y9MQ&ntb=1">
                            F01, Rostra Building,
                            <br> The Forum Complex,<br> North Bank Lane,
                            <br> Century City, 7441,
                            <br> Cape Town
                        </a>
                    </span>
                </li>
                <li>
                    <span><i class="fa fa-phone"></i></span>
                    <p>Tel: +27 (0) 21 418 1580</p>
                </li>
                <li>
                    <span><i class="fa fa-envelope"></i></span>
                    <p><a href="mailto:info@thehealthfoundation.org.za">info@thehealthfoundation.org.za</a></p>
                </li>
            </ul>
        </div>
    </div>
</footer>


<script type="text/javascript">
    window.addEventListener('scroll', reveal);

    function reveal() {
        var reveals = document.querySelectorAll('.reveal');

        for (var i = 0; i < reveals.length; i++) {

            var windowheight = window.innerHeight;
            var revealtop = reveals[i].getBoundingClientRect().top;
            var revealpoint = 150;

            if (revealtop < windowheight - revealpoint) {
                reveals[i].classList.add('active');
            }
            else {
                reveals[i].classList.remove('active');
            }
        }
    }

</script>
<script type="text/javascript">
    window.addEventListener('scroll', reveal);

    function reveal() {
        var reveals = document.querySelectorAll('.reveal2');

        for (var i = 0; i < reveals.length; i++) {

            var windowheight = window.innerHeight;
            var revealtop = reveals[i].getBoundingClientRect().top;
            var revealpoint = 200;

            if (revealtop < windowheight - revealpoint) {
                reveals[i].classList.add('active');
            }
            else {
                reveals[i].classList.remove('active');
            }
        }
    }

</script>

