@{
    ViewData["Title"] = "News Page";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>The Health Foundation</title>
	<link rel="stylesheet" href="~/css/style.css" />
	<link rel="stylesheet" href="~/css/hero.css">
	<link rel="stylesheet" href="~/css/news.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<header>
		<section id="hero-main">
			<div class="main-content">
				<div class="wrap">
					<div id="preloader"></div>
					<div class="slider">
						<div class="overlay">
						</div>
					</div>
		</section>
		<div class="hero-txt">
			<h1>News</h1>
		</div>
	</header>


	<div id="body_wrapper">
		<div class="card">
			<img src="~/images/news_cards/card1.png" alt="Avatar" height="300px" width="420px">
			<div class="container">
				<h4>SCALING DATA USE TO IMPROVE PATIENT CARE</h4>
				<span>28th Sep 2022</span><br><br>
				<p>Scaling Data Use to Improve Patient Care The “Scaling Data Use to Improve Patient Care” grant, was reported on in an earlier edition of Jonga. Since then, there has been considerable progress on [...]</p><br><br>
				<div class="read_more">
					<a href="#"><img src="~/images/right.png" width="10px" height="10px" />Read more</a>
				</div>
			</div>
		</div>
		<div class="card">
			<img src="../images/news_cards/card2.jpg" alt="Avatar" height="300px" width="420px">
			<div class="container">
				<h4>1000 BLANKETS FOR HOSPITAL OF HOPE</h4>
				<span>22nd Sep 2022</span><br><br>
				<p>1000 Blankets for hospital of hope JULY 2020 Yesterday the 21st of July, the Spreading Warmth campaign experienced a major high with a donation of a 1000 blankets from Tzu Chi Foundation – South [...]</p><br>
				<div class="read_more">
					<a href="#"><img src="~/images/right.png" width="10px" height="10px" />Read more</a>
				</div>
			</div>
		</div>
		<div class="card">
			<img src="../images/news_cards/card3.jpg" alt="Avatar" height="300px" width="420px">
			<div class="container">
				<h4>SHOPRITE JOINS IN SPREADING HEALTH FOR MANDELA DAY</h4>
				<span>22nd Sep 2022</span><br><br>
				<p>Shoprite joins in spreading warmth for Mandela Day JULY 2020 The aim with the Spreading Warmth Mandela Day drive is to provide essential items that will promote the recovery of COVID-19 patients [...]</p><br>
				<div class="read_more">
					<a href="#"><img src="~/images/right.png" width="10px" height="10px" />Read more</a>
				</div>
			</div>
		</div>
		<div class="card">
			<img src="../images/news_cards/card4.jpg" alt="Avatar" height="300px" width="420px">
			<div class="container">
				<h4>MINISTER MBOMBO HANDS OVER UBUNTUCARE CLOTH MASKS IN GUGULETHU</h4>
				<span>22nd Sep 2022</span><br><br>
				<p>Minister Mbombo hands over UbuntuCare cloth masks in Gugulethu MAY 2020 As efforts continue to find ways to curb the spread of the virus, on the 21st of May, Minister Mbombo handed over some of [...]</p><br><br>
				<div class="read_more">
					<a href="#"><img src="~/images/right.png" width="10px" height="10px" />Read more</a>
				</div>
				<br>
			</div>
		</div>
		<div class="card">
			<img src="~/images/news_cards/card5.jpg" alt="Avatar" height="300px" width="420px">
			<div class="container">
				<h4>ADDIDAS GENEROUSLY DONATES FOOTWARE AND WINTERWEAR TO HEALTHCARE WORKERS</h4>
				<span>22nd Sep 2022</span><br><br>
				<p>Adidas generously donates footwear and winterwear to healthcare workers A major highlight during this period with a global pandemic has been the donation from Adidas South Africa of over 2700 [...]</p><br>
				<div class="read_more">
					<a href="#"><img src="~/images/right.png" width="10px" height="10px" />Read more</a>
				</div>
				<br>
			</div>
		</div>
		<div class="card">
			<img src="~/images/news_cards/card6.jpg" alt="Avatar" height="300px" width="420px">
			<div class="container">
				<h4>OVERWHELMING SUPPORT FRO THE SPREADIGNWARMTH CAMPAIGN</h4>
				<span>9th Sep 2022</span><br><br>
				<p>Overwhelming support for the #SpreadingWarmth Campaign 31 August 2020 We would like to thank everyone (corporates and individuals) for the amazing support we received over the last 32 months [...]</p><br>
				<div class="read_more">
					<a href="#"><img src="~/images/right.png" width="10px" height="10px" />Read more</a>
				</div>
				<br>
			</div>
		</div>
		<div class="card">
			<img src="~/images/news_cards/card7.jpg" alt="Avatar" height="300px" width="420px">
			<div class="container">
				<h4>LAUNCH OF UBUNTUCARE CLOTH MASKS</h4>
				<span>22nd Sep 2022</span><br><br>
				<p>Launch of Ubuntucare cloth masks May 2020 The Health Foundation is proud to be a partner of the UbuntuCare Cloth Mask initiative. Through this initiative, an expanding community-based [...]</p><br>
				<div class="read_more">
					<a href="#"><img src="~/images/right.png" width="10px" height="10px" />Read more</a>
				</div>
				<br>
			</div>
		</div>
		<div class="card">
			<img src="~/images/news_cards/card8.jpg" alt="Avatar" height="300px" width="420px">
			<div class="container">
				<h4>THE UBUNTUCARE CLOTH MASK MODEL EXPANDS INTO GRABOUW</h4>
				<span>22nd Sep 2022</span><br><br>
				<p>The UbuntuCare Cloth Mask Model expands into Grabouw May 2020 As part of the Ubuntu cloth mask model, local Grabouw seamstresses have been recruited to form part of the initiative by assembling [...]</p><br>
				<div class="read_more">
					<a href="#"><img src="~/images/right.png" width="10px" height="10px" />Read more</a>
				</div>
			</div>
		</div>
		<div class="card">
			<img src="~/images/news_cards/card9.jpg" alt="Avatar" height="300" width="420px">
			<div class="container">
				<h4>THANK YOU VODACOM FOR YOUR GIFT OF VISION!</h4>
				<span>4th July 2019</span><br><br>
				<p>Thank you Vodacom for your Gift of Vision! 19 January 2017 The Health Foundation is proud to have facilitated a donation from Vodacom for the Gift of Vision programme. In a beautiful example of [...]</p><br>
				<div class="read_more">
					<a href="#"><img src="~/images/right.png" width="10px" height="10px" />Read more</a>
				</div>
			</div>
		</div>
		<div class="card">
			<img src="../images/news_cards/card10.jpg" alt="Avatar" height="300" width="420">
			<div class="container">
				<h4>THE HEALTH FOUNDATION DONATES TOWARDS IMPROVING MATERNAL AND NEONATIONAL HEALTH</h4>
				<span>4th July 2019</span><br><br>
				<p>The Health Foundation donates towards improving maternal and neonatal health July 2019 In line with its strategic objective of key resource mobilisation, The Health Foundation (THF) recently [...]</p><br>
				<div class="read_more">
					<a href="#"><img src="~/images/right.png" width="10px" height="10px" />Read more</a>
				</div>
				<br>
			</div>
		</div>
	</div>

	<div id="wrapper">
		<h2>Published Media</h2>

		<table>
			<tr>
				<th>Date</th>
				<th>Article</th>
			</tr>
			<tr>
				<td>November 2020</td>
				<td>UbuntuCare provides 500k free masks, employment for 250 seamstresses</td>
			</tr>
			<tr>
				<td>October 2020</td>
				<td>National plea to get SA’s most vulnerable masked up to prevent COVID-19 resurgence</td>
			</tr>
			<tr>
				<td>October 2020</td>
				<td>Help get the poorest, most vulnerable masked up to prevent Covid-19 resurgence</td>
			</tr>
			<tr>
				<td>September 2020</td>
				<td>Women earn money while helping others</td>
			</tr>
			<tr>
				<td>July 2020</td>
				<td>Foundation helps lift spirit of Covid-19 patients in Cape Town with blanket donation</td>
			</tr>
			<tr>
				<td>July 2020</td>
				<td>67 ways to help this Mandela Day: Spread the warmth with The Health Foundation</td>
			</tr>
			<tr>
				<td>July 2020</td>
				<td>Cloth mask initiative makes it possible for Grabouw seamstresses to earn income</td>
			</tr>
			<tr>
				<td>July 2020</td>
				<td>Western Cape now has 16 689 active cases of COVID-19</td>
			</tr>
			<tr>
				<td>July 2020</td>
				<td>Send a care package for COVID patients on Mandela Day</td>
			</tr>
			<tr>
				<td>May 2020</td>
				<td>WATCH: Western Cape mask initiative in the spirit of ubuntu</td>
			</tr>
		</table>
	</div>

	<div class="newsletter_wrapper">
		<form class="reveal3" action="action_page.php">
			<div class="container1">
				<h2>Subscribe to our Newsletter</h2>
				<p>Stay up to date with out latest programs and campaigns</p>
			</div>

			<div class="container1" style="background-color:white">
				<input type="text" placeholder="Name" name="name" required>
				<input type="text" placeholder="Email address" name="mail" required>
				<label>
					<input type="checkbox" checked="checked" name="subscribe"> Daily Newsletter
				</label>
			</div>

			<div class="container1">
				<input type="submit" value="Subscribe">
			</div>
		</form>
	</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<footer>
		<div class="container">
			<div class="fot aboutus">
				<h2> About Us </h2>
				<p> The Health Foundation is an independent Non-Profit Company and Public Benefit Organisation. </p>

				<ul class="sci">
					<li><a href="https://www.facebook.com/theHealthFdnSA/"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/theHealthFdnSA"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.linkedin.com/company/the-health-foundation"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>

			<div class="fot quickLinks">
				<h2>Quick Links</h2>
				<ul>
						<li><a href="Index">Home</a></li>
						<li><a href="About">About Us</a></li>
						<li><a href="Archives">Archives</a></li>
						<li><a href="News">News</a></li>
						<li><a href="Projects">Projects</a></li>
						<li><a href="Support">Support</a></li>
				</ul>
			</div>

			<div class="fot contact">
				<h2>Contact Info</h2>
				<ul class="info">
					<li>
						<span><i class="fa fa-map-marker"></i></span>
						<span>
							F01, Rostra Building,
							<br> The Forum Complex,<br> North Bank Lane,
							<br> Century City, 7441,
							<br> Cape Town
						</span>
					</li>
					<li>
						<span><i class="fa fa-phone"></i></span>
						<p><a href="0214181580">Tel: +27 (0) 21 418 1580</a></p>
					</li>
					<li>
						<span><i class="fa fa-envelope"></i></span>
						<p><a href="info@thehealthfoundation.org.za">info@thehealthfoundation.org.za</a></p>
					</li>
				</ul>
			</div>
		</div>
	</footer>


	<script class="loading">

		var loader = document.getElementById("preloader");

		window.addEventListener("load", function () {
			loader.style.display = "none";
		})

	</script>

	<script type="text/javascript">
		window.addEventListener('scroll', reveal);

		function reveal() {
			var reveals = document.querySelectorAll('.reveal3');

			for (var i = 0; i < reveals.length; i++) {

				var windowheight = window.innerHeight;
				var revealtop = reveals[i].getBoundingClientRect().top;
				var revealpoint = 150;

				if (revealtop < windowheight - revealpoint) {
					reveals[i].classList.add('active');
				}
				else {
					reveals[i].classList.remove('active');
				}
			}
		}

	</script>

	<script defer src="~/js/app.js"></script>
</body>
</html>