@{
    ViewData["Title"] = "Projects Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Health Foundation</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/hero.css">
    <link rel="stylesheet" href="~/css/projects.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/lib/owlcarousel/assets/owl.carousel.min.css">

    <link rel="stylesheet" type="text/css" href="~/project-css/style.css">

</head>
<body>
    <header>
        <section id="hero-main">
            <div class="main-content">
                <div class="wrap">
                    <div id="preloader"></div>
                    <div class="slider">
                        <div class="overlay">
                        </div>
                    </div>
        </section>
        <div class="hero-txt">
            <h1>Projects</h1>
        </div>
    </header>

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <img class="img-fluid w-100" src="~/images/hellodoctor.jpg" alt="">

                </div>
                <div class="col-lg-7">

                    <h1 class="mb-4">Hello Doctor</h1>
                    <p class="mb-4">Hello Doctor is a digital telehealth platform that aims to unburden the public health system, by eliminating long queues and reducing high patient load in public clinics. This tele-triage service connects patient to doctor, in a convenient and cost-effective manner by dialling the USSD number and requesting a call-back from a doctor. It is currently offered at selected community healthcare centres, in Delft CHC and Symphony Way CHC, Cape Town and KT Motubatse CHC, Soshanguve free of charge to the user.</p>
                    <div class="d-flex align-items-center pt-2">
                        <a href="" class="btn btn-primary mt-3 py-2 px-4">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Features Start -->
    <div class="container-fluid bg-secondary my-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid w-100" src="~/images/first-1000-days.jpg" alt="">
                </div>
                <div class="col-lg-7 py-5 py-lg-0">
                    <h1 class="mb-4">First 1000 Days</h1>
                    <p class="mb-4">Improving the well-being of mothers and children during the first 1 000-day window helps ensure children get the best start to life and the opportunity to reach their full potential. The period of pregnancy and the first 2 years of life (= 1000 days) offers a unique opportunity for enabling a bright, healthy and prosperous future.</p>
                    <a href="" class="btn btn-primary mt-3 py-2 px-4">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <img class="img-fluid w-100" src="~/images/wowlogo.jpg" alt="">

                </div>
                <div class="col-lg-7">

                    <h1 class="mb-4">WOW - Shoes2Move</h1>
                    <p class="mb-4">The Health Foundation is proud to work with the WoW! Healthy Lifestyles initiative in association with the Western Cape Government and its valued partners. WoW! (WesternCape on Wellness) promotes and activates Healthy Lifestyle Actions to prevent, reduce and better self-manage common chronic diseases. WoW! represents a novel transversal and cross-sectoral partnering approach to promote, activate, expand and maintain a healthy lifestyles movement across multiple settings, including: Worksite, Primary Healthcare Facility, School, Community and Public Space settings. </p>
                    <div class="d-flex align-items-center pt-2">
                        <a href="" class="btn btn-primary mt-3 py-2 px-4">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Blog Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <h6 class="text-primary text-uppercase font-weight-bold">Our Projects</h6>
                <h1 class="mb-4">More On Our Older Projects</h1>
            </div>
            <div class="row">
                <div class="col-md-6 mb-5">
                    <div class="position-relative">
                        <img class="img-fluid w-100" src="~/images/mobile.png" alt="">
                        <div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle"
                             style="width: 60px; height: 60px; bottom: -30px; right: 30px;">
                            <h4 class="font-weight-bold mb-n1">21</h4>
                            <small class="text-white text-uppercase">Mar</small>
                        </div>
                    </div>
                    <div class="bg-blog" style="padding: 30px;">
                        <div class="d-flex mb-3">

                            <div class="d-flex align-items-center ml-4">
                                <i class="far fa-bookmark text-primary"></i>
                                <a class="text-muted ml-2" href="">Projects</a>
                            </div>
                        </div>
                        <h4 class="font-weight-bold mb-3">Wellness Mobile Clinics</h4>
                        <p>The Wellness Mobiles forms one part of the broader Integrated School Health Programme in the Western Cape. The vision of the project on a micro-level is to reduce the negative impact of immediate health-related barriers to learning. On a macro-level, the intervention strives to foster sustained positive health outcomes for learners and their communities. </p>
                        <a class="border-bottom border-primary text-uppercase text-decoration-none" href="">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <div class="position-relative">
                        <img class="img-fluid w-100" src="~/images/blog-ubuntu.jpg" alt="">
                        <div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle"
                             style="width: 60px; height: 60px; bottom: -30px; right: 30px;">
                            <h4 class="font-weight-bold mb-n1">09</h4>
                            <small class="text-white text-uppercase">Jan</small>
                        </div>
                    </div>
                    <div class="bg-blog" style="padding: 30px;">
                        <div class="d-flex mb-3">

                            <div class="d-flex align-items-center ml-4">
                                <i class="far fa-bookmark text-primary"></i>
                                <a class="text-muted ml-2" href="">Projects</a>
                            </div>
                        </div>
                        <h4 class="font-weight-bold mb-3">UbuntuCare</h4>
                        <p>The campaign is a public-private initiative coordinated by the Western Cape Governemnt: Health (WCGH)  to promote the wearing of non-medical cloth masks in public. This campaign seeks to complement the current social distancing, lock-down and hygiene practices adopted by (WCGH) to address the current COVID-19 pandemic.</p>
                        <a class="border-bottom border-primary text-uppercase text-decoration-none" href="">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->


    <script class="loading">

        var loader = document.getElementById("preloader");

        window.addEventListener("load", function () {
            loader.style.display = "none";
        })

    </script>

    <script type="text/javascript">
        window.addEventListener('scroll', reveal);

        function reveal() {
            var reveals = document.querySelectorAll('.reveal');

            for (var i = 0; i < reveals.length; i++) {

                var windowheight = window.innerHeight;
                var revealtop = reveals[i].getBoundingClientRect().top;
                var revealpoint = 150;

                if (revealtop < windowheight - revealpoint) {
                    reveals[i].classList.add('active');
                }
                else {
                    reveals[i].classList.remove('active');
                }
            }
        }

    </script>

    <script defer src="~/js/app.js"></script>
</body>
</html>