<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <style>
        .custom-header{
            margin: 0 auto;
            width: 100%;
            background: none;
        }
        .navbar{
            max-width: 1400px;
            margin: 0 auto;
            background: none;
            color: white;
        }
    </style>
</head>
<header class="custom-header">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo-1.png" alt="The Health Foundation Logo" width="50" height="50" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/Home/About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/Home/Archives">Archives</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/Home/News">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/Home/Projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/Home/Support">Support</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>
