<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chaotic_Nature_XISD6329</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style-index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav id="navbar" style="background-color: green;">
        <a class="logo" href="Index.php">
            logo
        </a>
        <label>
            <input type="checkbox">
            <span class="menu"> <span class="hamburger"></span> </span>
            <ul>
                <li><a href="../Home/Index">Home</a></li>
                <li><a href="../Home/About">About Us</a></li>
                <li><a href="../Home/Archives">Archives</a></li>
                <li><a href="../Home/News">News</a></li>
                <li><a href="../Home/Projects">Projects</a></li>
                <li><a href="../Home/Support">Support</a></li>
                <a class="donatebtn" href="#">Donate</a>
            </ul>
        </label>
        
        <a class="call_to_action" href="#">Donate</a>
        <partial name="_LoginPartial" />
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
